/* Top Content */
.top-content img{
    margin-bottom: 25px;
}
.top-content {
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
.top-content .text-container{
    width: auto;
    padding: 0 2%;
    padding-bottom: 20px;
}
/* Top Content*/
/* Middle Content*/
/* Middle Content*/
/* Bottom Content*/
.bottom-content{
    display: none;
}
/* Bottom Content*/