form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    margin: 10px 0;
    min-height: 30px;
}
section{
    width: 50%;
    margin: 50px auto;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #eee;
    min-height: 440px;
}